

<div class='container'>
<h1>児童養護施設の職員一人に対して子供は平均８人...</h1>
<h1>児童養護移設のボランティア募集！！</h1>
<h1>ログイン</h1>
<br><br>
<ul>
<div class='login_home_list'>
<li><%= link_to "職員の方", staff_login_path,class:'btn btn-primary index_button'%></li>
<li><%= link_to "ボランティア希望の方", login_path,class:'btn btn-primary index_button'%></li>
</div>    
</ul>
</div>
